.bash_history
.cache/
.cfg.git
.config/BraveSoftware/
.config/GIMP/
.config/QtProject.conf
.config/clipse/tmp_files/
.config/font-manager/
.config/fontconfig/
.config/geany/session.conf
.config/gthumb/
.config/hyprland-mimeapps.list
.config/libfm/
.config/libreoffice/4/user/store/
.config/lxqt/
.config/mimeapps.list
.config/pdfarranger/*
.config/pulse/
.config/simple-scan/
.config/vim/plugged/
.config/vim/undodir/
.config/xournalpp
.config/ytdownloader/
.cups/
.gtkrc-2.0
.java/
.local/share/Trash/
.local/share/applications/mimeapps.list
.local/share/fish/
.local/share/gvfs-metadata/
.local/share/hyprland/
.local/share/libfm-qt/
.local/share/nvim/
.local/share/recently-used.xbel
.local/share/sddm/
.local/state/btop.log
.local/state/lesshst
.local/state/nvim/
.local/state/wireplumber/
.local/state/yazi/packages/
.nix-defexpr/
.pki/
.ssh
.var/
.viminfo
.viminfo.tmp
.wget-hsts
Dokumenty/
Public/
Sta\305\276en\303\251/
Stažené/
.local/share/onlyoffice/
