.cfg.git
.ssh
.bash_history
.cache/
.config/BraveSoftware/
.config/GIMP/
.config/gthumb/
.config/hyprland-mimeapps.list
.config/libfm/
.config/lxqt/
.config/mimeapps.list
.config/pulse/
.config/simple-scan/
.config/vim/plugged/
.cups/
.gtkrc-2.0
.java/
.local/share/Trash/
.local/share/fish/
.local/share/gvfs-metadata/
.local/share/hyprland/
.local/share/libfm-qt/
.local/share/recently-used.xbel
.local/state/btop.log
.local/state/wireplumber/
.nix-defexpr/
.pki/
.viminfo
.viminfo.tmp
.wget-hsts
Dokumenty/
.local/share/applications/mimeapps.list
.local/state/yazi/packages/
.local/state/lesshst
.config/font-manager/
.config/fontconfig/
.config/geany/session.conf
.local/share/sddm/
