[Desktop Action new-private-window]
Exec=/nix/store/zdz5ky6w5di6b661yydx714vwffpa7vf-brave-1.67.123/bin/brave --incognito
Name[cs_CZ]=Nové anonymní okno
Name=New Incognito Window

[Desktop Action new-window]
Exec=/nix/store/zdz5ky6w5di6b661yydx714vwffpa7vf-brave-1.67.123/bin/brave
Name[cs_CZ]=Nové okno
Name=New Window

[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment[cs_CZ]=Přístup k internetu
Comment=Přístup k internetu
Exec=brave %U
GenericName[cs_CZ]=WWW prohlížeč
GenericName=WWW prohlížeč
Icon=brave-browser
Name[cs_CZ]=Brave Web Browser
Name=Brave Web Browser
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
MimeType=x-scheme-handler/mailto;text/html;image/webp;image/png;image/jpeg;image/gif;application/xml;application/xml;application/xhtml+xml;application/rss+xml;application/rdf+xml;application/pdf;
