[Desktop Action kcm-kscreen]
Exec=systemsettings kcm_kscreen
Icon=preferences-desktop-display-randr
Name[cs_CZ]=Nastavení zobrazení
Name=Display Configuration

[Desktop Action kcm-lookandfeel]
Exec=systemsettings kcm_lookandfeel
Icon=preferences-desktop-theme-global
Name[cs_CZ]=Celkový motiv
Name=Global Theme

[Desktop Action kcm-powerdevilprofilesconfig]
Exec=systemsettings kcm_powerdevilprofilesconfig
Icon=preferences-system-power-management
Name[cs_CZ]=Správa napájení
Name=Power Management

[Desktop Action kcm-screenlocker]
Exec=systemsettings kcm_screenlocker
Icon=preferences-desktop-user-password
Name[cs_CZ]=Uzamykání obrazovky
Name=Screen Locking

[Desktop Action kcm-users]
Exec=systemsettings kcm_users
Icon=preferences-system-users
Name[cs_CZ]=Uživatelé
Name=Users

[Desktop Entry]
Actions=kcm-lookandfeel;kcm-users;kcm-screenlocker;kcm-powerdevilprofilesconfig;kcm-kscreen;
Categories=Qt;KDE;Settings;
Comment[cs_CZ]=Konfigurační nástroje pro váš počítač
Comment=Konfigurační nástroje pro váš počítač
Exec=systemsettings
GenericName[cs_CZ]=Nastavení systému
GenericName=Nastavení systému
Icon=preferences-system
Keywords[cs_CZ]=nastavení systému
Keywords=systemsettings
MimeType=
Name[cs_CZ]=Nastavení systému
Name=Nastavení systému
NoDisplay=false
Path=
SingleMainWindow=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.systemsettings
X-DBUS-StartupType=Unique
X-DocPath=systemsettings/index.html
X-KDE-Shortcuts=Tools
X-KDE-SubstituteUID=false
X-KDE-Username=
